		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>刘强</h1>
					<h3>一个热爱生活的80后， 他目前正在关注云计算、云存储以及富媒体等技术</h3>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a id="pdf" href="#">下载 PDF版</a></h3>
						<h3><a href="mailto:liuqiang_0701@163.com">liuqiang_0701@163.com</a></h3>
						<h3>Skype: liuqiang_0701</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

				
					<div class="yui-gf">
						<div class="yui-u first">
							<h2>基本信息</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>姓名： 刘强</li>
								<li>性别： 男</li>
								<li>籍贯： 江苏</li>
								<li class="last">出身年月： 1985-07</li>
							</ul>

							<ul class="talent">
								<li>学历： 本科</li>
								<li>学校： 华北电力大学</li>
								<li>专业： 软件工程</li>
								<li class="last">毕业时间： 2007-07</li>
							</ul>

							<ul class="talent">
								<li>电话： 13738126853</li>
								<li>skype：liuqiang_0701</li>
								<li>QQ： 271440534</li>
								<li class="last">居住地址： 浙江杭州</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>技术</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>Ruby</li>
								<li>Erlang</li>
								<li class="last">C</li>
							</ul>

							<ul class="talent">
								<li>Javascript</li>
								<li>CSS</li>
								<li class="last">ActionScript</li>
							</ul>

							<ul class="talent">
								<li>linux/Unix</li>
								<li>Sql/No-sql</li>
								<li class="last">Networking</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->


					<div class="yui-gf">
						<div class="yui-u first">
							<h2>技能</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>软件研发</h2>
									<p>	</p>
								</div>

								<div class="talent">
									<h2>系统架构</h2>
									<p></p>
								</div>

								<div class="talent">
									<h2>项目管理</h2>
									<p></p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>工作经历</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>江苏北极光</h2>
								<br />
								
								<h4>2007 - 2009</h4>
								<table width=100%>
								<thead>
									<th class=date>时间</th>
									<th class=p>项目</th>	
									<th>简介</th>	
									<th>职责</th>	
								</thead>
								<tr>
									<td>2007.9 - 2008.5</td>
									<td>南通教育博客</td>	
									<td>面向南通地区的教师博客</td>	
									<td>负责网站的整体设计和实现</td>	
								</tr>
								<tr>
									<td>2008.5 - 2009.5 </td>
									<td>南通家校通</td>	
									<td>教师可以管理学生的学习情况并发送至家长手机</td>	
									<td>负责后台支撑系统的设计以及开发</td>	
								</tr>
								<tr>
									<td class='date'>2009.6 - 2009.11</td>
									<td>学习乐教育社区</td>	
									<td>面向中小学生的SNS学习社区</td>	
									<td>负责产品的整体设计以及架构</td>	
								</tr>
								</table>	
								
							</div>

							<div class="job">
								<h2>ThePlant</h2>
								<br />
	
								<h4>2009 - 2010</h4>
								<table width=100%>
								<thead>
									<th class=date>时间</th>
									<th class=p>项目</th>	
									<th>简介</th>	
									<th>职责</th>
								</thead>
								<tr>
									<td>2007.9 - 2008.5</td>
									<td>Asics欧洲</td>	
									<td>
										为Asics公司定制的全球电子商务销售平台 http://www.asicsamerica.com/
									</td>	
									<td>责核心模块的实现： 商品、活动、用户、订阅、邮件通知</td>	
								</tr>
								</table>	
							</div>

							<div class="job last">
								<h2>杭州东方网和</h2>
								<br />
								<h4>2010 - 2012</h4>
								<table width=100%>
								<thead>
									<th class=date>时间</th>
									<th class=p>项目</th>	
									<th>简介</th>	
									<th>职责</th>	
								</thead>
								<tr>
									<td>2010.9 - 2011.9</td>
									<td>华数猫快</td>	
									<td>一款利用Cable可提升上网速度的三网融合产品</td>	
									<td>Team Leader</td>	
								</tr>
								<tr>
									<td>2011.10 - 2012.4 </td>
									<td>云猫飞视</td>	
									<td>一款可在移动设备上看电视的多屏融合产品</td>	
									<td>Team Leader</td>	
								</tr>
								</table>	
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>自我评价</h2>
						</div>
						<div class="yui-u">
							<h2> 一个喜欢思考的人，一个对新事物充满好奇心的人， 一个从不向挫折低头的忍者 </h2>
							<h3> </h3>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p></p>
		</div><!--// footer -->

