<h3>Archives</h3>

<% if @months.empty? -%>
	<p>Once posts are added they will start to appear in this archive.</p>
<% else -%>
	<br />
	<% @months.each do |month| -%>
	<h4><%= format_month(month.date) %></h4>
	<ul class='archive-month'>
	  <% month.posts.each do |post| -%>
	    <li><%= link_to(post.title, post_path(post)) %><% unless post.tags.empty? %> <span class='tags'><%= linked_tag_list(post.tags) %></span><% end -%></li>
	  <% end -%>
	</ul>
	<% end -%>

<% end -%>
