<div class="span-left">
  <div class="post-list">
   <%= render @posts %>
  </div>
  <%= paginate @posts %>
</div>

<div class="span-right">
  <%= render 'tags' %>
  <br />
  <%= render 'users' %>
</div>
