<div id="footer" class="row">
  <div class='left'>
  	<p>@2012-2013 Powered by www.sharp.bz(AT)gmail.com</p>
  </div>
  <div class='right'>
  	浙ICP备12009412号 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </div>
</div>
<% if !session[:login] and Rails.env.production? %>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fe3f81b5bd8e3b273b7b37b7d88450128' type='text/javascript'%3E%3C/script%3E"));
</script>
<% end %>
